.flags-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.flag {
    width: 500px;
    height: 500px;
}

.flag>img {
    width: 100%;
}

.text {
    width: 500px;
}

.pick {
    padding: 30px;
}
.pick-img{
    display: block;
    padding: 30px;
    width: 80px;
}
.message {
    font-size: 46px;
    text-align: center;
    overflow: hidden;
}
img>svg>g {
    fill: none;
    stroke: black;
    stroke-width: 50px;
}

@keyframes loss {
    from { display: block; opacity: 1; transform: scale(1,1);}
    to { display: none; opacity: 0; transform: scale(2,2)}
}

.msg {
    opacity: 0;
}
.msg.wrong {
    animation: loss 1s;
}
.msg.right {
    animation: loss .25s;
}
.bonus-message {
    position: absolute;
    top: 50%;
    right: 50%;
    font-size: 5rem;
    opacity: 0;
}
.bonus-message.bonus {
    animation: loss .5s;
}