
@import url('https://fonts.googleapis.com/css?family=Acme');
.App {
  text-align: center;
  font-family: 'Acme', sans-serif;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.letters{
  height:auto;
  display: flex;
  justify-content: center;
  font-size: calc(20vw);
}
.letterBlock {
  padding: 3vw;
  cursor: all-scroll;
}